
.app_table { 
	width: 30%;
}

.app_table td {
	padding:10px;
}

.webweb_wp_plugin input[type="text"] {
	min-width:220px;
}

.form-table textarea {
	width:550px;
}

.success, .app_success {
    color: green;
}

.app_error, .app_delete_button {
    color: red;
}
